:root {
  font-family: "pt serif", "roboto slab", "noto serif";
  font-size: 62.5%;
}

main {
  margin: 0 5em;
}

a {
  text-decoration: none;
}

body {
  overflow-x: hidden;
  margin: 0;
  margin-bottom: 10em;
  word-break: break-all;
}

h1 {
  color: rgb(2, 91, 56);
  font-family: 'pt serif';
}

h2 {
  font-family: "roboto slab";
  color: rgb(2, 91, 56);
}

p {
  font-size: 1.2em;
}

h3,
p {
  font-family: "noto serif";
  margin-bottom: 2em;
  line-height: 1.5em;
}

/* For tablets: */
@media only screen and (min-width: 767px) {
  body {
    font-size: 1.5em;
  }
}

/* For desktop: */
@media only screen and (min-width: 1280px) {
  main {
    margin: 0 10em;
  }

  body {
    margin-bottom: 0;
  }
}