/*Universal styles*/
main img {
  width: 100%;
}

p {
  margin: 2em 0;
}

button {
  background-color: black;
  color: white;
  font-family: 'noto serif';
  font-size: 1.25em;
  border-radius: 25px;
  border-style: none;
  padding: 0.5em 3em;
  width: auto;
  margin: 2em auto;
  display: flex;
}

button:hover {
  background-color: rgb(39, 39, 39);
  cursor: pointer;
}

/*Main styles*/
.indent {
  display: block;
  margin-top: 1.5em;
}

.museum-img {
  min-width: 100%;
}