main img {
  width: 100%;
}

.header {
  background-color: rgb(2, 91, 56);
  border-radius: 25px;
  color: white;
  text-align: center;
  padding: 0.5em;
  width: 80%;
  margin: 1em auto;
}

p {
  margin: 2em 0;
}

.indent {
  display: block;
  margin-top: 1.5em;
}