.visit {
  background-color: rgb(2, 91, 56);
  border-radius: 25px;
  color: white;
  text-align: center;
  padding: 0.5em;
  width: 80%;
  margin: 1em auto;
}

main img {
  max-width: 30%;
  height: fit-content;
  margin: auto;
  float: right;
}

.hours {
  width: 60%;
  display: inline-block;
  margin: 0;
}

.indent {
  display: block;
}

h2 {
  margin: 1.5em 0;
}

.form {
  background-color: rgb(2, 91, 56);
  border: none;
  color: white;
  font-family: 'noto serif';
  font-size: 1.25em;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  border-radius: 25px;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

input[type="submit"] {
  background-color: black;
  color: white;
  border-radius: 25px;
  border-style: none;
  grid-column: 1 / -1;
  justify-self: center;
  padding: 0.5em 3em;
  width: auto;
  margin-bottom: 0.5em;
}

.left,
.right {
  padding: 1em 1em;
  box-sizing: border-box;
}

input {
  border-radius: 25px;
  border-style: none;
  width: 100%;
  margin-top: 0.5em;
}

#message {
  height: 6em;
  margin: 1em 0;
}

.message {
  background-color: rgb(2, 91, 56);
  border: none;
  color: white;
  font-family: 'noto serif';
  font-size: 1.25em;
  padding: 1em;
  margin: 2em 0;
  border-radius: 25px;
}

.message label {
  text-align: center;
  display: block;
}