/*Universal styles*/
main img {
  max-width: 50%;
  display: inline-block;
  object-fit: contain;
}

button {
  background-color: black;
  color: white;
  font-family: 'noto serif';
  font-size: 1em;
  border-radius: 25px;
  border-style: none;
  justify-self: center;
  padding: 0.5em 3em;
  width: auto;
  margin: 2em 0;
}

/*Main styles*/
.hours-container {
  display: flex;
}

.indent {
  display: block;
}

.hours {
  width: 50%;
  display: inline-block;
}

/*Form styling*/
.form-text {
  text-align: center;
}

.container {
  background-color: rgb(2, 91, 56);
  border: none;
  color: white;
  font-family: 'noto serif';
  font-size: 1.25em;
  border-radius: 25px;
  margin: 4em auto;
  padding: 2em;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.container div {
  display: flex;
  flex-direction: column;
}

.container label {
  margin-top: 1.5em;
}

#message {
  height: 6em;
}

input {
  border-radius: 25px;
  border-style: solid;
  border-color: white;
  max-width: 100%;
}

button {
  display: flex;
  margin: auto;
  margin-top: 1em;
}

/* For desktop: */
@media only screen and (min-width: 826px) {
  /*Forms styling*/
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }

  .container div:nth-child(3) {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .container div {
    max-width: 90%;
  }

  .message-container {
    justify-self: center;
  }

  #message {
    width: 80%;
    height: 10em;
  }

  input {
    max-width: 100%;
  }
}