main img {
  height: fit-content;
  margin: auto;
  float: right;
}

.form-text {
  text-align: center;
  font-size: 2em;
}

.hours {
  width: 60%;
  display: inline-block;
  margin: 0;
}

.header {
  background-color: rgb(2, 91, 56);
  border-radius: 25px;
  color: white;
  text-align: center;
  padding: 0.5em;
  width: 80%;
  margin: 1em auto;
}

.indent {
  display: block;
}

h2 {
  margin: 1.5em 0;
}

.container {
  background-color: rgb(2, 91, 56);
  border: none;
  color: white;
  font-family: 'noto serif';
  font-size: 1.25em;
  border-radius: 25px;
  display: grid;
  width: 50%;
  margin: 4em auto;
  padding: 2em;
}

.container label {
  margin-top: 1.5em;
}

#message {
  height: 6em;
}

input[type="submit"] {
  background-color: black;
  color: white;
  font-size: 1em;
  border-radius: 25px;
  border-style: none;
  justify-self: center;
  padding: 0.5em 3em;
  width: auto;
  margin: 2em 0;
}

/* For mobiles: */ 
@media only screen and (min-width: 375px) {
  main img {
    max-width: 30%;
  }

  main {
    padding: 0 1em;
    box-sizing: border-box;
  }

  .container {
    width: 90%;
    margin: auto;
    padding: 1em;
  }

  input[type="text"] {
    border-radius: 25px;
    border: none;
    height: 2em;
  }
}

/* For tablets: */
@media only screen and (min-width: 767px) {
  main img {
    max-width: 30%;
  }

  input[type="text"] {
    border-radius: 25px;
    border: none;
    height: 2em;
  }
}

/* For large desktop: */
@media only screen and (min-width: 1280px) {
  main img {
    min-width: 40%;
  }

  input[type="submit"] {
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: rgb(39, 39, 39);
  }
}