h1 {
  text-align: center;
  margin: 2em 0;
}

main ul {
  list-style-type: circle;
  padding: 0;
}

main li {
  margin: 1em 0;
  font-size: 1.2em;
}

.bold {
  font-size: 2.8em;
}

@media only screen and (min-width: 1280px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
  }

  .center {
    text-align: center;
    margin-top: 2em;
  }

  .child {
    background-color: rgb(209, 209, 209);
    padding: 4em;
    display: grid;
  }
}