/*Universal styles*/
main ul {
  list-style-type: circle;
  padding: 0;
}

main li {
  margin: 1em 0;
  font-size: 0.75em;
}

/*For desktop*/
@media only screen and (min-width: 826px) {
  main li {
    font-size: 1em;
  }
  
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
  }

  .child {
    background-color: rgb(209, 209, 209);
    padding: 2em;
    display: grid;
  }
}