h1 {
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 2em;
}

h3 {
  text-decoration: underline;
}

main p {
  background-color: rgb(216, 216, 216);
  padding: 1em;
  width: 100%;
}

main img {
  max-width: 25em;
  max-height: 15em;
  justify-content: center;
  border-radius: 2em;
}

.indent {
  display: block;
  margin-top: 1.5em;
}

.header {
  background-color: rgb(2, 91, 56);
  border-radius: 25px;
  color: white;
  text-align: center;
  padding: 0.5em;
  width: 80%;
  margin: 1em auto;
}

.container {
  display: grid;
  grid-template-columns: 60% 40%;
  align-items: center;
  justify-items: center;
}

.mid-img {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5%;
}

.mid-img img {
  min-width: 100%;
  min-height: 20vw;
  object-fit: cover;
}

.bold {
  font-weight: 700;
}

/* For mobiles: */ 
@media only screen and (min-width: 375px) {
  .mid-img {
    justify-items: stretch;
  }

  .mid-img img {
    min-height: 10em;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

/* For tablets: */
@media only screen and (min-width: 481px) {
  .mid-img {
    justify-items: stretch;
  }

  .mid-img img {
    min-height: 20em;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}