h1 {
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 2em;
}

h3 {
  text-decoration: underline;
}

main img {
  max-width: 25em;
  max-height: 15em;
  justify-content: center;
  border-radius: 2em;
}

.header {
  background-color: rgb(2, 91, 56);
  border-radius: 25px;
  color: white;
  text-align: center;
  padding: 0.5em;
  width: 80%;
  margin: 1em auto;
}

.container {
  display: grid;
  grid-template-columns: 60% 40%;
  align-items: center;
  justify-items: center;
}

main p {
  background-color: rgb(216, 216, 216);
  padding: 1em;
}

.mid-img {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.mid-img img {
  min-width: 100%;
  min-height: 20vw;
  object-fit: cover;
}

.indent {
  display: block;
  margin-top: 1.5em;
}

.bold {
  font-weight: 700;
}

.brown {
  color: rgb(154, 101, 40);
}