header {
  background-color: rgb(2, 91, 56);
  position: sticky;
  top: 0;
  max-width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  font-family: 'noto serif';
}

header img {
  max-width: 3em;
  margin: 0.5em;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
}

nav h1:hover {
  text-decoration: underline;
}

.title {
  color: white;
  margin: 0;
  line-height: 0;
  text-align: none;
  width: auto;
  font-weight: 200;
  font-size: 2em;
}

#check {
  display: none;
}

.checkbutton {
  font-size: 3.5em;
  color: white;
  margin-left: 0.5em;
}

#check:checked ~ .menu {
  display: block;
}

.menu {
  position: absolute;
  top: 4.5em;
  left: 0;
  background-color: rgb(2, 91, 56);
  z-index: 1;
  width: 25%;
  display: none;
  margin: auto;
  padding: 0;
}

.menu a {
  color: white;
  padding: 1em 3em;
  display: block;
  margin: auto;
}

.header-image {
  max-width: 100vw;
  height: auto;
  margin: 0;
  display: block;
  box-sizing: border-box;
  object-fit: cover;
}

/* For mobiles: */ 
@media only screen and (min-width: 375px) {
  main img {
    max-width: 40%;
  }

  #hide-mobile {
    display: none;
  }

  .hide.desktop {
    display: block;
  }

  .hide.mobile {
    display: block;
  }

  .menu {
    display: none;
  }

  #check:checked ~ .menu {
    display: block;
  }

  .info {
    display: none;
  }
}

/* For tablets: */
@media only screen and (min-width: 767px) {
  .menu {
    height: 16.6em;
  }

  .menu a {
    margin: 0.8em 0;
  }

  #hide-mobile {
    display: none;
  }

  .hide.mobile {
    display: block;
  }

  .info {
    display: none;
  }
}

/* For large desktop: */
@media only screen and (min-width: 1280px) {
  .info {
    display: block;
  }

  .info h1 {
    color: white;
    display: inline-block;
    margin: 0 0 0 4em;
    font-size: 1.5em;
  }

  #check,
  .checkbutton,
  .title {
    display: none;
  }
}