header {
  background-color: rgb(2, 91, 56);
  position: sticky;
  top: 0;
  width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

header img {
  max-width: 3em;
  margin: 0.5em;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

#check {
  display: none;
}

.checkbutton {
  font-size: 3.5em;
  color: white;
  margin-left: 0.5em;
}

.menu {
  display: none;
}

#check:checked ~ .menu {
  display: block;
}

.menu {
  position: absolute;
  top: 3em;
  left: 0;
  background-color: rgb(2, 91, 56);
  z-index: 1;
  width: 40%;
}

.menu a {
  color: white;
  padding: 1em 0em;
  display: block;
}

.header-image {
  max-width: 100vw;
  height: auto;
  margin: 0;
  display: block;
  box-sizing: border-box;
}