h1 {
  text-align: center;
}

main img {
  max-width: 40%;
  height: fit-content;
}

.indent {
  display: block;
  margin-top: 1.5em;
}

.mid-img {
  min-width: 100%;
}

.bar {
  background-color: rgb(2, 91, 56);
  height: 1em;
  width: 100%;
  margin: 4em 0;
}

.container {
  display: flex;
  align-items: center;
}

.container-left,
.container-right {
  display: flex;
  margin: 2em 0;
  gap: 10%;
  align-items: center;
}

.brown {
  color: rgb(154, 101, 40);
}

.blue {
  color: rgb(22, 62, 163);
}

.bold {
  font-weight: 700;
}

/* For mobiles: */ 
@media only screen and (min-width: 375px) {
  main img {
    max-width: 40%;
    margin: 2em 0;
  }

  .container,
  .container-left,
  .container-right {
    flex-wrap: wrap;
    justify-content: center;
  }
}

/* For tablets: */
@media only screen and (min-width: 767px) {
  #hide-mobile {
    display: none;
  }

  .hide.mobile {
    display: block;
  }

  .info {
    display: none;
  }

  .container,
  .container-left,
  .container-right {
    flex-wrap: wrap;
    justify-content: center;
  }
}

/* For large desktop: */
@media only screen and (min-width: 1280px) {
  h2 {
    display: inline-block;
  }
  
  .hide-desktop,
  #hide-desktop {
    display: none;
  }

  .info {
    display: block;
  }

  .info h1 {
    color: white;
    display: inline-block;
    margin: 0 0 0 4em;
    font-size: 1.5em;
  }

  .header-image {
    height: 42.5vw;
    width: 100%;
  }

  #hide-mobile,
  .for-kids {
    display: inline-block;
  }

  .hide-mobile {
    margin: 0;
  }

  .parent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    column-gap: 5%;
  }

  .container {
    flex-direction: column;
    justify-content: start;
  }

  .container img {
    justify-self: baseline;
  }

  .container-left,
  .container-right {
    flex-wrap: nowrap;
  }
}