/*Universal styles*/
main {
  margin: 0 0.5em;
}

main img {
  max-width: 40%;
  height: fit-content;
}

h2 {
  margin: 1em 0;
}

/*Main styles*/
#hideMobile {
  display: none;
}

.indent {
  display: block;
  margin-top: 1.5em;
}

.mid-img {
  min-width: 100%;
}

.bar {
  background-color: rgb(2, 91, 56);
  height: 1em;
  width: 100%;
  margin: 4em 0;
}

.container-left,
.container-right,
.container {
  display: flex;
  margin: 2em 0;
  gap: 10%;
  align-items: center;
}

.brown {
  color: rgb(154, 101, 40);
}

.blue {
  color: rgb(22, 62, 163);
}

.red {
  color: red;
}

.grey {
  color: rgb(75, 74, 74);
}

.orange {
  color: rgb(158, 103, 0);
}

.bold {
  font-weight: 700;
}

/* For desktop: */
@media only screen and (min-width: 826px) {
  /*Main styling*/
  .container img {
    min-width: 80%;
  }

  .container-left,
  .container-right,
  .container {
  display: flex;
  margin: 2em 0;
  gap: 10%;
  align-items: center;
  }
  
  .hide-desktop,
  #hideDesktop,
  .bot-bar {
    display: none;
  }

  #hideMobile,
  #forKids {
    display: inline-block;
  }

  .parent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5%;
  }

  .container {
    flex-direction: column;
    justify-content: flex-start;
  }

  .container-left,
  .container-right {
    flex-wrap: nowrap;
  }
}